/*  ============ BUILD PAGE  ============ */
#build-page {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  justify-content: center;
  align-items: center;
  box-sizing: border-box;
  /* border: 1px solid red; */
}

#build-nav {
  display: flex;
  margin-top: 0;
  padding-left: 0;
  list-style-type: none;
}

#build-nav li.build-nav-btn {
  cursor: pointer;
  padding: 0.5em 1.25em;
  color: var(--mid);
  ;
  font-family: var(--keyFont);
  font-weight: normal;
  font-size: smaller;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  line-height: 1em;
  box-sizing: border-box;
  border: 2.5px solid var(--faint);
  border-radius: 5px;
  transition: 0.1s ease-out;
}

#build-nav li:not(:last-of-type) {
  margin-right: 0.5rem
}

#build-nav li:hover,
#build-nav li:focus {
  background-color: var(--mid);
  ;
  color: white;
  border-color: var(--mid);
  ;
}

#build-nav li.build-nav-btn.active {
  background-color: var(--pop);
  border-color: var(--pop);
  color: white;
}