/*  --------- BUTTON CACHE --------- */
#button-cache {
  display: flex;
  align-items: center;
  margin-block: 1rem;
}

#button-cache {
  align-self: center;
}

#button-cache button {
  --size: 4rem;
  display: flex;
  justify-content: center;
  align-items: center;
  width: var(--size);
  height: var(--size);
  line-height: 1em;
  /* padding: 1em; */
  color: var(--mid);
  font-family: var(--keyFont);
  font-size: large;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  border: 3px solid var(--mid);
  box-sizing: border-box;
  border-radius: 50%;
  transition: 0.1s ease-out
}

#button-cache button svg {
  --size: 2rem;
  width: var(--size);
  height: var(--size);
  /* border: 1px solid red; */
  fill: var(--mid);
  transition: 0.1s ease-out, transform 0.1s ease-out 0.1s;
  box-sizing: border-box;
}

#button-cache button.help.cw-button svg{
  --size: 1.6rem;
  width: var(--size);
  height: var(--size);
}

#button-cache button:not(:last-of-type) {
  margin-right: 1rem;
}

/* ================================= *\
|| HOVERABLE
\* ================================= */

@media (hover:hover){
  
  #button-cache button:hover {
    background-color: var(--dark);
    border-color: var(--dark);
    color: var(--lite);
  }

  #button-cache button:hover svg {
    fill: var(--pop);
    stroke: transparent;
    transform: scale(1.1);
    filter: brightness(1.25) drop-shadow(1px 1px 1px var(--faint));
  }
}