/* --------- HEADER --------- */

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 2rem;
  background-color: var(--darker);
  color: var(--lite);
  box-shadow: 0 1px 2px var(--faint);
}

header h2#site-logo {
  --size: calc(var(--grid)* 3);
  cursor: pointer;
  margin: 0;
  width: var(--size);
}

header h2#site-logo svg {
  width: 100%;
  /* mix-blend-mode: lighten; */
}

header h2#site-logo svg .border {
  fill: var(--pop);
}

/* ========================================= *\
|| >> MOBILE <<
\* ========================================= */

@media only screen and (max-width: 480px) {
  header h2#site-logo {
    width: calc(var(--grid)* 2);;
  }
}