/*  --------- HINT CACHE --------- */
#hint-cache-wrap {
  display: flex;
  flex-direction: column;
  position: absolute;
  inset: 0 0 0 auto;
  width: 40%;
  justify-content: center;
  /* border: 1px solid blue; */
  /* max-width: 0; */
  background-color: var(--lite);
  flex-shrink: 1;
  height: 100%;
  overflow: hidden;
  /* opacity: 0; */
  transform: translateX(100%);
  transition: 0.2s ease-in-out;
  box-sizing: border-box;
  border: 1px solid blue;
  pointer-events: none;
  z-index: 1000;
}

#hint-cache-wrap.active {
  /* overflow-x: hidden;
  overflow-y: scroll; */
  /* max-width: none; */
  transform: translateX(0);
  pointer-events: initial;
  /* opacity: 1; */
}

.hint-cache {
  counter-reset: hint;
  display: none;
  margin: 0;
  list-style-position: inside;
  list-style-type: none;
  padding-left: 0;
  padding: 1rem;
  overflow-y: scroll;
  box-sizing: border-box;
  /* border: 1px solid coral; */
}

.hint-cache.active {
  display: block;
}

.hint-cache h3 {
  margin-top: 0;
}

.hint-cache li {
  cursor: pointer;
  display: flex;
  margin: 0.5rem;
  padding: 0.5rem;
  text-align: left;
  border: 2px solid var(--faint);
  border-radius: 5px;
  box-sizing: border-box;
  transition: 0.1s ease-out;
}

.hint-cache li.active,
.hint-cache li:hover,
.hint-cache li.preview {
  border-color: var(--pop);
}

.hint-cache li::before {
  counter-increment: hint;
  content: counter(hint)'.';
  display: block;
  margin-right: 0.5rem;
  width: 2ch;
  color: var(--mid);
  text-align: right;
  font-weight: 600;
  /* font-family: var(--bodyFont); */
  /* border: 1px solid red; */
  box-sizing: border-box;
}