.loader {
  width: 25vmin;
  /* background-color: var(--darker); */

}

.flex .loader {
  justify-self: center;
  align-self: center;
}

@keyframes glow {
  from {
    filter: brightness(1.1);
    transform: scale(1.02);
  }
  to {
    filter: brightness(1);
    transform: scale(1);
    }
}

@keyframes turn {
  from {
    /* color: var(--mid); */
    transform: scale(1.25);
  }
  to {
    /* color: var(--dark); */
    transform: scale(1);
    }
}

@keyframes shrink {
  0% {transform: scale(1)}
  20% {
    transform: scale(1.02);
    opacity: 1;
  }
  100% {
    transform: scale(0);
    opacity: 0;
  }
}

.loader .xword-logo-2 {
  width: 100%;
  fill: url(#gradScroll);
  transition: .2s ease-in-out;
}

.loader.loaded .xword-logo-2 {
  --dur: .4s;
  /* animation: shrink var(--dur) ease-in; */
  transform: scale(0);
  opacity: 0;
  transition: 
    transform .3s ease-in-out,
    opacity .2s linear .1s;
}

.loader.loading .xword-logo-2 {
  animation: glow 1s infinite ease-in-out alternate-reverse;
  /* animation: hue-shift 5s infinite linear; */
}

.loader .loading-word {
  white-space: nowrap;
}

.loader .loading-word span {
  --totalDelay: calc(var(--delay)*1.5);
  display: inline-block;
  transform-origin: center;
}

.loader .loading-word span:not(:last-of-type){
  margin-right: .25em;
}

.loader.loading .loading-word span {
  animation: turn 1s infinite linear alternate-reverse;
  animation-delay: calc(var(--i)*.3s);
}

.loader.dismounting .loading-word span {
  opacity: 0;
  animation-iteration-count: 1;
  transition: opacity .2s ease-in;
  transition-delay: calc(var(--i) * .2s);
}

.loader.loaded .loading-word span {
  opacity: 0;
}