/* --------- NAV --------- */
nav a {
  /* margin-right: 1.5em; */
  color: var(--lite);
  font-family: var(--keyFont);
  letter-spacing: 0.1em;
  white-space: nowrap;
}

/* nav > a, .submenu-wrap > a:first-child {
  padding-block: 1em;
} */

nav > *:not(.mobileNav) {
  /* padding-inline: .75em; */
  padding: .75em;
}

/* nav a:not(:last-of-type) {
  margin-right: 1.5em;
} */

nav a.active {
  cursor: default;
  color: var(--pop);
}

nav a.login {
  cursor: pointer;
  color: var(--mid);
}

nav .submenu-wrap {
  position: relative;
}

nav .submenu {
  position: absolute;
  bottom: 0;
  right: 0;
  min-width: 100%;
  background-color: var(--darker);
  transform: translateY(100%);
  box-sizing: border-box;
  /* border: 2px solid red; */
}

nav .submenu-wrap:not(:hover) .submenu{
  display: none;
}

nav .submenu a {
  cursor: pointer;
  font-family: var(--bodyFont);
  font-size: smaller;
  margin: 0;
  padding: .5em 1em;
  /* letter-spacing: 0.05em; */
  letter-spacing: normal;
  box-sizing: border-box;
}



/* --------- MOBILE NAV --------- */

nav .mobileNav {
  /* --size: 1.5rem; */
  position: relative;
  width: 1.5rem;
  height: 1.25rem;
  box-sizing: border-box;
  /* border: 1px solid cyan; */
}

nav .mobileNav.open {
  /* position: fixed; */
  /* inset: 2rem 2rem auto auto; */
  z-index: 3000;
}

nav .mobileNav > * {
  position: absolute;
  width: 100%;
  height: 2.5px;
  background-color: var(--mid);
  border-radius: 100px;
  /* transition: 0.2s ease-out; */
  /* transition-delay: 0.2s; */
  transform-origin: 50% 50%;
}

nav .mobileNav .top {
  top: 0;
  transition:
    top .1s ease-in-out .1s,
    transform .1s ease-in-out .2s;
}

nav .mobileNav.open .top {
  transition:
    top .1s ease-in-out .1s,
    transform .1s ease-in-out .2s;
}

nav .mobileNav.closed .top {
  transition:
    top .1s ease-in-out .2s,
    transform .1s ease-in-out .1s;
}

nav .mobileNav.open .top {
  top: 50%;
  transform: translateY(-50%) rotate(45deg);
}

nav .mobileNav .middle {
  top: 50%;
  transform: translateY(-50%);
}

nav .mobileNav.open .middle {
  opacity: 0;
}

nav .mobileNav .bottom {
  bottom: 0;
}

nav .mobileNav.open .bottom {
  transition:
    bottom .1s ease-in-out .1s,
    transform .1s ease-in-out .2s;
}

nav .mobileNav.closed .bottom {
  transition:
    bottom .1s ease-in-out .2s,
    transform .1s ease-in-out .1s;
}

nav .mobileNav.open .bottom {
  bottom: 50%;
  transform: translateY(50%) rotate(-45deg);
}

/* ~~~~~~~~ MODAL ~~~~~~~~ */

.modal-wrapper.nav-modal {
  inset: 0;
  background-color: hsla(264, 88%, 10%,0.95);
  backdrop-filter: blur(10px);
}

.modal-wrapper.nav-modal .modal{
  /* width: 100%; */
  padding: 2rem;
}

.modal-wrapper.nav-modal .modal-close {
  display: none;
}

.modal-wrapper.nav-modal .modal a {
  color: var(--lite);
  font-family: var(--keyFont);
  text-transform: uppercase;
  letter-spacing: 0.1em;
}

.nav-modal .modal a.active {
  color: var(--mid);
}

.nav-modal .mobile-nav-wrap > * {
  padding-bottom: 1em;
  text-align: center;
}

.nav-modal .modal .submenu a {
  color: var(--brite)
}

/* ========================================= *\
|| >> HOVER <<
\* ========================================= */

@media (hover:hover){
  nav a:not(.active):not(.login):not(.submenu a):hover {
    color: var(--pop);
  }

  nav .submenu a:hover {
    background-color: var(--pop);
  }

  nav .login+.submenu a:hover {
    background-color: var(--mid);
  }
}