@font-face {
  font-family: 'Russo';
  src: url(/src/assets/fonts/RussoOne-Regular.ttf);
}

@import url('https://fonts.googleapis.com/css2?family=Odibee+Sans&display=swap');

:root{
  --grid: 48px;
  /* --------- COLORS --------- */
  --pop: hsl(215, 35%, 50%);
  /* --pop-alt: hsl(120, 75%, 60%); */
  --pop-alt: hsl(322, 60%, 60%);
  --lite: white;
  --mid: silver;
  --faint: hsla(0,0%,0%,0.1);
  --phantom: hsla(0,0%,0%,0.05);
  /* --------- FONTS --------- */
  --keyFont: 'Russo', sans-serif;
  --bodyFont: 'Odibee Sans', cursive;
  --fontSize: 18px;
  font-family: var(--bodyFont);
  font-size: var(--fontSize);
  /* --------- BORDER --------- */
}

html {height: 100vh;}

body, #root, .App {height: 100%;}

body {
  color: var(--pop);
}

*::selection {
  background-color: var(--faint);
}

.App {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  text-align: center;
}

::-webkit-scrollbar {
  display: none;
}

a, a:visited {
  text-decoration: none;
  color: inherit;
}

a:hover, a:focus {
  color: inherit;
  outline: none;
}

button {
  appearance: none;
  cursor: pointer;
  outline: none;
  background-color: transparent;
}

h1, h2, h3{
  font-family: var(--keyFont);
  letter-spacing: 0.1em;
  text-transform: uppercase;
}

input {
  appearance: none;
  border: 2px solid hsla(0, 0%, 0%, 0.1);
}

textarea {
  appearance: none;
  padding: 1em;
  font-family: inherit;
  font-size: 1rem;
  color: var(--pop);
  caret-color: var(--faint);
  border: 2.5px solid var(--faint);
  /* outline: none; */
}

textarea::placeholder{
  color: var(--mid);;
  font-style: italic;
}

textarea::-webkit-resizer{
  display: none;
}

header, footer {
  background-color: var(--mid);;
  padding: 1rem 2rem;
  color: var(--lite);
}

/* --------- MAIN --------- */

main {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  /* min-height: 100vh; */
  justify-content: center;
  padding: 2rem;
}

/* --------- NAV --------- */
nav a {
  font-family: var(--keyFont);
  letter-spacing: 0.1em;
}

nav a:not(:last-of-type){
  margin-right: 1.5em;
}